/* close button for history items */

.items a.item .content i {
  opacity: 0;
}

.items a.item:hover i {
  opacity: 1;
}


/* override default menu styling */

.ui.menu .item:before {
  background: none !important;
}